html {
    font-size: 17px;
    font-weight: 300;
}
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
b {
    font-weight: 500;
}
strong {
    font-weight: 700;
}
#content {
    max-width: 550px; 
    margin: 0 auto;
}
h1 {
    font-size: 1.9rem;
    margin: 0.6rem 0;
}
#h1-title {
    text-align: center;
}
#save-area {
    width: 100%;
    height: calc(0.1 * 100vh);
    margin: .5rem 0;
}
#save-area-read {
    margin: 0 auto;
    display: block;
}
h2 {
    margin: 0.6rem 0;
    color: #737373;
}
p {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.horizontal-line {
    padding-bottom: 1px;
    background: linear-gradient(90deg, #e9e9e9 0%, #FFFFFF 75%);
}
.smalltext {
    font-size: 0.8rem;
    text-align: center;
}
.entryNo {
    color: #d1d1d1;
}
.date {
    font-size: 0.8rem;
    color: #737373;
    margin-left: 1rem;
}
a,
a:active,
a:visited {
    color: black;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.icon-cancel {
    color: #f03a17;
}
.icon-ok-squared {
    color: #16c60c;
}