body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.horizontal-line {
    padding-bottom: 1px;
    background: linear-gradient(90deg, #e9e9e9 0%, #FFFFFF 75%);
}
.smalltext {
    font-size: 0.75em;
}
.entryNo {
    color: #d1d1d1;
}
.changelog {
    margin-top: 0px;
    padding-inline-start: 30px;
}
.date {
    font-size: 0.75em;
    color: #737373;
    margin-left: 1em;
}
a,
a:active,
a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}