[class^="reznoricon-"],
[class*=" reznoricon-"] {
    position: relative;
    padding-left: 1.6em;
}

[class^="reznoricon-"]:before,
[class*=" reznoricon-"]:before {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    margin-right: .2em;
    text-align: center;
    line-height: 0;
    margin-left: .2em;
    padding-top: 0.1em;
}

.reznoricon-binding-nail:before {
    content: url("../img/binding-nail.png");
}