[class^="reznoricon-"],
[class*=" reznoricon-"] {
    position: relative;
    padding-left: 1.48em;
}

[class^="reznoricon-"]:before,
[class*=" reznoricon-"]:before {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em 0 0.1em 0.1em;
    margin: 0;
    text-align: center;
    line-height: 0;
    content: "";
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.reznoricon-binding-nail:before {
    background-image: url("../img/binding-nail.png");
}

.reznoricon-binding-shell:before {
  background-image: url("../img/binding-shell.png");
}

.reznoricon-binding-charms:before {
  background-image: url("../img/binding-charms.png");
}

.reznoricon-binding-soul:before {
  background-image: url("../img/binding-soul.png");
}

.reznoricon-binding-all:before {
  background-image: url("../img/binding-all.png");
}

.reznoricon-attuned:before {
  background-image: url("../img/attuned.png");
}

.reznoricon-ascended:before {
  background-image: url("../img/ascended.png");
}

.reznoricon-radiant:before {
  background-image: url("../img/radiant.png");
}