/* SVG from Simple Icons https://github.com/simple-icons/simple-icons */

[class^="simpleicon-"],
[class*=" simpleicon-"] {
    position: relative;
    padding-left: 1.6em;
}

[class^="simpleicon-"]:before,
[class*=" simpleicon-"]:before {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 1.2em;
    height: 1.2em;
    margin-right: .2em;
    text-align: center;
    line-height: 0;
    margin-left: .2em;
    padding-top: 0.1em;
}

.simpleicon-youtube:before {
    content: url("../img/youtube.svg");
}

.simpleicon-steam:before {
    content: url("../img/steam.svg");
}

.simpleicon-paypal:before {
    content: url("../img/paypal.svg");
}

.simpleicon-github:before {
    content: url("../img/github.svg");
}

.simpleicon-instagram:before {
    content: url("../img/instagram.svg");
}

.simpleicon-twitter:before {
    content: url("../img/twitter.svg");
}